{
  "extends": ["airbnb", "prettier"],
  "env": {
    "node": true
  },
  "rules": {
    "generator-star-spacing": [0],
    "consistent-return": [0],
    "global-require": [0],
    "no-else-return": [0],
    "no-restricted-syntax": [0],
    "import/no-extraneous-dependencies": [0],
    "no-use-before-define": [0],
    "no-nested-ternary": [0],
    "arrow-body-style": [0],
    "import/extensions": [0],
    "prefer-destructuring": [0],
    "no-bitwise": [0],
    "no-cond-assign": [0],
    "import/no-unresolved": [0],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "object-curly-newline": [0],
    "function-paren-newline": [0],
    "no-restricted-globals": [0],
    "no-useless-escape": [1],
    "no-buffer-constructor": [1],
    "no-unused-expressions": [0],
    "no-param-reassign": [0],
    "import/no-dynamic-require": [0],
    "array-callback-return": [0],
    "no-console": [0],
    "require-yield": [1]
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "Promise": true
  }
}
