
#
# common ignores
#
.DS_Store
node_modules
bower_components
npm-debug.log
.idea

#
# building temporary directories
#
lila_*
dist

#
# manifests directories
#
/manifests
/manifests_bak

#
# lila server config
#
lila.server.config.js