
.test-index-2 {
    width: 200px;
    height: 200px;
    background-image: url("../../../../images/test/index.png");
}

.test-index-2-3 {
    transition: all .5s;
    transform: translateY(100%);
}
.test-index-2-3.active {
    transform: translateY(0);
}